@import '~@angular/material/theming';
@import '/src/theme.scss';
@include mat-core();

$primary-light: map-get($theme-light, primary);
$accent-light: map-get($theme-light, accent);

:host {
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
}

.light-theme ::ng-deep mat-toolbar {
  background-color: mat-color($primary-light, darker);
  border-bottom: 1px solid mat-color($accent-light, default) !important;
}

.workspace-container {
  margin: 1em 2em;
  display: flex;
}

.workspace-container .left {
  flex: calc(25% - 1em);
  order: 0;
  padding-right: 1em;
}

.workspace-container .right {
  flex: calc(75% - 1em);
  order: 1;
}

.color-options {
  margin-left: 1em;
}