<div class="body-content-container">
  <div ngClass="{{theme}}">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <mat-toolbar color="primary">Garmin Connect</mat-toolbar>
      </mat-sidenav-content>

    </mat-sidenav-container>

    <div class="workspace-container">
      <router-outlet></router-outlet>
      <button mat-raised-button
              color="accent">Button That Is Theme Color</button>
      <app-hover-details></app-hover-details>

      <app-color-palette [accent]="'#fff59d'"
                         [accentDark]="'#cabf45'"
                         [accentLight]="'#ffffcf'"
                         [primary]="'#3e2723'"
                         [primaryDark]="'#1b0000'"
                         [primaryLight]="'#6a4f4b'"
                         [themeName]="'Chocolate'"
                         (themeSelected)="selectTheme('chocolate-theme')"></app-color-palette>


      <app-color-palette [accent]="'#4fc3f7'"
                         [accentDark]="'#0093c4'"
                         [accentLight]="'#8bf6ff'"
                         [primary]="'#212121'"
                         [primaryDark]="'#000000'"
                         [primaryLight]="'#484848'"
                         [themeName]="'Garmin Dark'"
                         (themeSelected)="selectTheme('dark-theme')"></app-color-palette>
    </div>
    <!--
  <app-nav-bar></app-nav-bar>
-->
  </div>
</div>