<div ngClass="body-content-container {{theme}}">
  <div ngClass="{{theme}}">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <mat-toolbar color="primary">Garmin Connect</mat-toolbar>
      </mat-sidenav-content>

    </mat-sidenav-container>

    <div class="workspace-container">

      <div class="left">

        <h1>Color Options</h1>
        <div class="color-options">
          <app-color-palette [accent]="'#ec407a'"
                             [accentDark]="'#c2185b'"
                             [accentLight]="'#f8bbd0'"
                             [buttonColor]="'black'"
                             [buttonBackgroundColor]="'#ec407a'"
                             [primary]="'#3949ab'"
                             [primaryDark]="'#1a237e'"
                             [primaryLight]="'#9fa8da'"
                             [themeName]="'Default'"
                             (themeSelected)="selectTheme('')"></app-color-palette>

          <app-color-palette [accent]="'#fff59d'"
                             [accentDark]="'#cabf45'"
                             [accentLight]="'#ffffcf'"
                             [primary]="'#3e2723'"
                             [buttonBackgroundColor]="'#3e2723'"
                             [buttonColor]="'#fff59d'"
                             [primaryDark]="'#1b0000'"
                             [primaryLight]="'#6a4f4b'"
                             [themeName]="'Chocolate'"
                             (themeSelected)="selectTheme('chocolate-theme')"></app-color-palette>

          <app-color-palette [accent]="'#4fc3f7'"
                             [accentDark]="'#0093c4'"
                             [accentLight]="'#8bf6ff'"
                             [buttonBackgroundColor]="'#212121'"
                             [buttonColor]="'#4fc3f7'"
                             [primary]="'#212121'"
                             [primaryDark]="'#000000'"
                             [primaryLight]="'#484848'"
                             [themeName]="'Garmin Dark'"
                             (themeSelected)="selectTheme('dark-theme')"></app-color-palette>

          <app-color-palette [accent]="'#4fc3f7'"
                             [accentDark]="'#0093c4'"
                             [accentLight]="'#8bf6ff'"
                             [buttonBackgroundColor]="'#ffffff'"
                             [buttonColor]="'#4fc3f7'"
                             [primary]="'#eeeeee'"
                             [primaryDark]="'#a4a4a4'"
                             [primaryLight]="'#ffffff'"
                             [themeName]="'Garmin Light'"
                             (themeSelected)="selectTheme('light-theme')"></app-color-palette>

        </div>
      </div>
      <div class="right">
        <router-outlet></router-outlet>
      </div>
      <!--
  <app-nav-bar></app-nav-bar>
-->
    </div>
  </div>