@import '~@angular/material/theming';
@import '/src/theme.scss';
@include mat-core();

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: mat-color($accent);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vertical-align {
  display: flex;
  align-items: center;
}