@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

.alternative {
  $primary: mat-palette($mat-amber);
  $accent: mat-palette($mat-light-green);
  $theme: mat-light-theme($primary, $accent);
  @include angular-material-theme($theme);
}