@import '~@angular/material/theming';
@import '/src/theme.scss';
@include mat-core();

$test: map-get($theme, primary);

:host {
  background-color: mat-color($test);
  border: 3px solid rgb(138, 135, 135);
  border-radius: 1em;
  display: inline-block;
  height: 1em;
  padding: 1em;
  margin: auto 1em;
  width: 1em;
  -webkit-box-shadow: 0 0 10px mat-color($test);
  box-shadow: 0 0 10px mat-color($test);
}