@import '~@angular/material/theming';
@import '/src/theme.scss';
@include mat-core();

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$primary-alt: map-get($theme-alt, primary);
$accent-alt: map-get($theme-alt, accent);

$primary-dark: map-get($theme-dark, primary);
$accent-dark: map-get($theme-dark, accent);

$primary-chocolate: map-get($theme-chocolate, primary);
$accent-chocolate: map-get($theme-chocolate, accent);

@mixin shaddow-glow($color, $tone) {
  -webkit-box-shadow: 0 0 10px mat-color($color, $tone);
  box-shadow: 0 0 10px mat-color($color, $tone);
}


:host {
  background-color: mat-color($primary);
  border: 3px solid rgb(138, 135, 135);
  border-radius: 1em;
  display: inline-block;
  height: 1em;
  padding: 1em;
  margin: auto 1em;
  width: 1em;
  @include shaddow-glow($primary, default);
}

.dark-theme :host {
  background-color: mat-color($accent-dark, default);
  @include shaddow-glow($accent-dark, default);
}

.chocolate-theme :host {
  background-color: mat-color($primary-chocolate, darker);
  @include shaddow-glow($primary-chocolate, darker);
}